@import '/src/shared/scss/mixins/mixins';

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #F2E2C6;

    display: grid;

    @include smartPhone(){
        grid-template-columns: 10vw 90vw;
    }
    @include tablet(){
        grid-template-columns: 40vw 60vw;
        height: 10vh;
    }
    @include laptop(){
        grid-template-columns: 30vw 70vw;
        height: 10vh;
    }
    align-items: center;
    
}
    