.newGoalArea{
    .newGoalForm{
        width: 30vw;
        height: 5vh;
        display: flex;
        justify-content: flex-end;

        
        margin: 1rem;
        padding-top: 1rem;

        .newGoal{
            text-indent: 1rem;
            font-size: medium;
            width: 80%;
            border: 1px solid #ccc;
            outline: none;
        }
        .submit{
            width: 20%;
            border: 1px solid #ccc;
            background-color: white;
            outline: none;

        }
    }
}