@import "../../shared/scss/config/variables";
@import '/src/shared/scss/mixins/mixins';

.placeItem{
    margin: 0;
    padding: 0;
    margin-bottom: 10vh;
    height: 80vh;

    @include smartPhone(){
        width: 90%;
    }
    @include tablet(){
        width: 60%;
    }
    @include laptop(){
        width: 30%;
    }
}

.placeItem__image{
    @include smartPhone(){
        height: 40vh;
    }
    @include tablet(){
        height: 40vh;
    }
    @include laptop(){
        height: 40vh;
    }
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.placeItem__info{
    display: flex;
    flex-direction: column;
    .placeItem__address{
        margin-top:0;
        margin-bottom:0;
        width: inherit;
        white-space:nowrap; 
        overflow:hidden;
        text-overflow: ellipsis;// Applicable only if there are four above.
        text-indent: 1rem;
        font-size: small;
        font-weight: bold;
        color: white;
    }
    .placeItem__description{
        width: inherit;
        height: 15vh;
        border-radius: 0.3rem;
        background-color: white;
        padding-left: 0.5rem;
        font-size: small;
        font-weight: bold;
        //text-shadow: 0 0 3px $dark_grey;
        color: $dark_grey;
        overflow-y: auto;
    }
}
.placeItem__actions{
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 60% 30% 10%;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
}

.modal__header{
    
}

.modal__content{

}

.modal__actions{
    
}

.map{
    height: 100%;
    width: 100%;
}