@import "../../shared/scss/config/variables";

.placeItem{
    margin-bottom: 2rem;
    width: 100%;
    height: max-content;

    div{
        width: inherit;
        height: inherit;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .placeItem__image{
            width: 40vh;
            height: 40vh;
            border-radius: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            margin-top: 1rem;
        }
        .placeItem__info{
            width: 40vh;
            height: 16vh;
            display: flex;
            flex-direction: column;
            .placeItem__address{
                width: inherit;
                height: 5vh;
                white-space:nowrap; 
                overflow:hidden;
                text-overflow: ellipsis;// Applicable only if there are four above.
                padding-top: 0.5rem;
                font-size: small;
                font-weight: bold;
                color: white;
            }
            .placeItem__description{
                width: inherit;
                height: 11vh;
                margin-top: 0.5rem;
                border-radius: 0.3rem;
                background-color: white;
                padding-left: 0.5rem;
                font-size: small;
                font-weight: bold;
                //text-shadow: 0 0 3px $dark_grey;
                color: $dark_grey;
                overflow-y: auto;
            }
            margin-top: 0.5rem;
        }
        .placeItem__actions{
            width: 40vh;
            height: 5vh;
            display :flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
}