@import '../../shared/scss/config/variables';

.placeList{
    width: 45vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noPlace{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .noPlace__title{
        margin-bottom: 1rem;
    }
    .noPlace__button{
        width: 100%;
        display: flex;

        border-color: $light_ivory;
        border-width: 0.1rem;
        border-radius: 0.3rem;
        border-style: solid;
        outline: none;
    }
}