.card{
    background-color: #666666;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    opacity: 1.0;

    &:hover{
        background-color: #F2E2C6;
        transition: background-color 0.3s linear;
        transition: color 0.3s linear;
    }
}